<!doctype html>
{% extends "base.html" %}


{% block content %}

<div>
  <div class=story>
    <div class=center>
     

 <h3 >Olimpiadas Colombianas de Inteligencia Artificial</h3> 
    <div>
       

      <p> 
	Actualmente estoy trabajando en la Universidad Antonio Nariño como organizador de la Olimpiada Colombiana de Inteligencia Artificial. En esta página estaré compartiendo información relacionada con las futuras actividades que tengamos.

      </p>


      <div class=center>
	<img src="{{ url_for('static', filename='uan/logoiablack.png') }}" style="width: 60%"/>
      </div>


      <!--<p>
	        <h4 >II Olimpiada Colombiana de IA 2026</h4>
¡Descubre el fascinante mundo de la Inteligencia Artificial!
La Olimpiada Colombiana de Inteligencia Artificial es una competencia académica diseñada para estudiantes de grados 8 a 11 que quieran explorar esta increíble tecnología.  Desde el inicio, las pruebas están pensadas para que cualquiera pueda participar. No necesitas saber programar ni ser un experto en tecnología. Solo necesitas curiosidad y ganas de aprender cómo funciona la IA.

    </p> <p> 
Las primeras rondas están enfocadas en lógica, pensamiento computacional y conceptos básicos de aprendizaje automático, explicados de manera sencilla y amigable. Si avanzas, irás descubriendo temas más emocionantes como redes neuronales, visión por computadora y programación en Python para interactuar directamente con estos conceptos.
</p>
<ul>
 	<li> Ronda Clasificatoria: jueves 27 de marzo
       	<li> Ronda Selectiva: martes 29 de abril
       	<li> Ronda Final: 27 al 30 de mayo
	  <li> Inscripciones: <a href="https://oc.uan.edu.co" target="_blank">https://oc.uan.edu.co</a>
       	<li> Prerrequisitos: Ninguno
	  
      </ul>

    <p> 
Si en algún momento quieres profundizar más, te daremos pistas y recursos para seguir explorando, para que puedas avanzar en tu entrenamiento y lograr eventualmente una participación destacada. Como esta olimpiada hasta ahora comienza, todavía estás a tiempo de emprender este viaje con nosotros e  incluso representar a Colombia en eventos internacionales. (En 2024 participamos en la primera Olimpiada Internacional de Inteligencia Artificial, que se realizó en Bulgaria y obtuvimos nuestras primeras medallas) ¡No pierdes nada y puedes ganar muchísimo! 
</p> <p> 
Inscríbete y sé parte de esta emocionante aventura tecnológica.
</p>  -->



      
      <h4 >II Olimpiada Internacional IOAI 2025</h4>

      Del dos al nueve de agosto de 2025 se realizó la segunda edición de la Olimpiada Internacional de Inteligencia Artificial (IOAI) en Beijing, China.

      <p>
        El equipo colombiano conformado por Juan David Onofre, Pablo González, Juan José Gómez, y Martín Aldana representó a Colombia obteniendo una mención honorífica en la prueba. Los resultados pueden verse  <a href="https://ioai-official.org/results">aquí</a>.
      </p>




      <h4 >I Olimpiada Colombiana de IA 2025</h4>
          <p> 
	    En el año 2025 se llevó a cabo la primera edición de la Olimpiada Colombiana de Inteligencia Artificial, un evento de carácter nacional que reunió a 110 participantes provenientes de ciudades principales como Bogotá, Barranquilla, Medellín y Bucaramanga, así como de lugares más pequeños y apartados como Nobsa o Santander de Quilichao.
      </p> <p> 
	La Olimpiada está compuesta por tres fases. Las dos primeras consistieron en preguntas de opción múltiple, diseñadas con un enfoque formativo y retador. De cara al futuro, se proyecta que la plataforma Eduspace se utilice dentro del proceso de selección de la edición 2026, con el propósito de fortalecer y diversificar las oportunidades de participación de más estudiantes en el ámbito de la Inteligencia Artificial.
      </p> <p> 
En la ronda final de nuestra competencia, los mejores estudiantes son invitados a la capital, Bogotá, donde reciben varios días de preparación intensiva y participan en pruebas diseñadas con un formato similar al de las preguntas de la IOAI, aunque adaptadas de manera más individual. A este encuentro asisten más de 40 jóvenes destacados, de los cuales se selecciona un grupo reducido que continúa con un proceso de formación y pruebas avanzadas. Finalmente, de entre ellos se eligen los cuatro estudiantes que representarán a Colombia en la IOAI, llevando con orgullo el nombre del país en este escenario internacional.
    </p> 

      
      
  <h4 >Semillero 2024</h4>
  <p>  Se realizó el primer semillero de preparación para participar en las competencias de las Olimpiadas de Inteligencia Artificial que se realizarán el próximo año. Estudiaremos las bases de los algoritmos principales detrás de las IA, y trabajaremos en diferentes retos y problemas para profundizar más en estos temas. Todas las actividades serán de forma virtual.
  </p>


  
      <div class=center>
	<!-- logo semillero IA -->
	<div id="logo"></div>
      </div>

  <h4 >Olimpiada Internacional IOAI</h4>

 <p> 
 En agosto de 2024 participamos en la <a href="https://ioai-official.org/" target="_blank">IOAI</a> que se realizó en Burgas, Bulgaria. Allí el equipo colombiano conformado por Juán Camilo Almanza, Pablo González, Jose Miguel Rodriguez y Martín Aldana obtuvo cuatro medallas de bronce en la ronda científica y cuatro medallas de bronce en la ronda práctica. Los resultados pueden verse  <a href="https://ioai-official.org/results">aquí</a>.
 </p>


 
<img src="{{url_for('static', filename='/uan/ioai/equipoioai2024.jpeg')}}" align="middle" style="width: 100%"/>

<img src="{{url_for('static', filename='/uan/ioai/Xpetro.jpeg')}}" align="middle" style="width: 100%"/>
		

<h4 >Ética en IA y educación</h4>
  <p> El 16 de julio de 2024 compartí una charla para el curso de profesores "Inteligencia Artificial para la educación (nivel I)"

    <a href="https://emersonjleon.github.io/emersonjleon/olimpiadaIA/PresentacionIA.pdf" target="_blank">Presentación</a></p>
  
  <p> En el segundo semestre estaré acompañando la segunda parte de este curso como tutor en  "Inteligencia Artificial en el Contexto Educativo (nivel 2)"</p>

        <object class="pdf" 
            data= "https://emersonjleon.github.io/emersonjleon/olimpiadaIA/presentacionIA.pdf"
            width="400"
            height="300">
    </object>
</p>




</div>
</div>

<script src="https://emersonjleon.github.io/emersonjleon/olimpiadaIA/logo.js"></script>

     
{% endblock %}
