<!doctype html>
{% extends "base.html" %}


{% block content %}

<div>
  <div class=story>
    <div class=center>
     

<h3 >Olimpiadas Colombianas de Inteligencia Artificial</h3>
    </div>
    
    
    

      <p> 
	Actualmente estoy trabajando en la Universidad Antonio Nariño como organizador de la Olimpiada Colombiana de Inteligencia Artificial. En esta página estaré compartiendo información relacionada con las futuras actividades que tengamos.

      </p>


      <div class=center>
	<img src="{{ url_for('static', filename='uan/logoiablack.png') }}" style="width: 60%"/>
      </div>

      <h4 >I Olimpiada Colombiana de IA 2025</h4>
<p> 
¡Descubre el fascinante mundo de la Inteligencia Artificial!
La Olimpiada Colombiana de Inteligencia Artificial es una competencia académica diseñada para estudiantes de grados 8 a 11 que quieran explorar esta increíble tecnología.  Desde el inicio, las pruebas están pensadas para que cualquiera pueda participar. No necesitas saber programar ni ser un experto en tecnología. Solo necesitas curiosidad y ganas de aprender cómo funciona la IA.

    </p> <p> 
Las primeras rondas están enfocadas en lógica, pensamiento computacional y conceptos básicos de aprendizaje automático, explicados de manera sencilla y amigable. Si avanzas, irás descubriendo temas más emocionantes como redes neuronales, visión por computadora y programación en Python para interactuar directamente con estos conceptos.
</p>
<ul>
 	<li> Ronda Clasificatoria: 27 de marzo.
       	<li> Fecha de inicio: martes 8 de octubre
       	<li> Finalización: martes 3 de diciembre
	  <li> Inscripciones: <a href="https://oc.uan.edu.co" target="_blank">https://oc.uan.edu.co</a>
       	<li> Prerrequisitos: Ninguno
	  
      </ul>

    <p> 
Si en algún momento quieres profundizar más, te daremos pistas y recursos para seguir explorando, para que puedas avanzar en tu entrenamiento y lograr eventualmente una participación destacada. Como esta olimpiada hasta ahora comienza, todavía estás a tiempo de emprender este viaje con nosotros e  incluso representar a Colombia en eventos internacionales. (En 2024 participamos en la primera Olimpiada Internacional de Inteligencia Artificial, que se realizó en Bulgaria y obtuvimos nuestras primeras ***medallas ***link a la otra sección nueva*** ) ¡No pierdes nada y puedes ganar muchísimo! 
</p> <p> 
Inscríbete y sé parte de esta emocionante aventura tecnológica.
</p> 
      
      
  <h4 >Semillero 2024</h4>
  <p>  Se realizó el primer semillero de preparación para participar en las competencias de las Olimpiadas de Inteligencia Artificial que se realizarán el próximo año. Estudiaremos las bases de los algoritmos principales detrás de las IA, y trabajaremos en diferentes retos y problemas para profundizar más en estos temas. Todas las actividades serán de forma virtual.
  </p>


  
      <div class=center>
	<!-- logo semillero IA -->
	<div id="logo"></div>
      </div>

  <h4 >Olimpiada Internacional IOAI</h4>

 <p> 
 En agosto de 2024 participamos en la <a href="https://ioai-official.org/" target="_blank">IOAI</a> que se realizó en Burgas, Bulgaria. Allí el equipo colombiano conformado por Juán Camilo Almanza, Pablo González, Jose Miguel Rodriguez y Martín Aldana obtuvo cuatro medallas de bronce en la ronda científica y cuatro medallas de bronce en la ronda práctica. Los resultados pueden verse  <a href="https://ioai-official.org/results">aquí</a>.
 </p>


 
<img src="{{url_for('static', filename='/uan/ioai/equipoioai2024.jpeg')}}" align="middle" style="width: 100%"/>

<img src="{{url_for('static', filename='/uan/ioai/Xpetro.jpeg')}}" align="middle" style="width: 100%"/>
		

<h4 >Ética en IA y educación</h4>
  <p> El 16 de julio de 2024 compartí una charla para el curso de profesores "Inteligencia Artificial para la educación (nivel I)"

    <a href="https://emersonjleon.github.io/emersonjleon/olimpiadaIA/PresentacionIA.pdf" target="_blank">Presentación</a></p>
  
  <p> En el segundo semestre estaré acompañando la segunda parte de este curso como tutor en  "Inteligencia Artificial en el Contexto Educativo (nivel 2)"</p>

        <object class="pdf" 
            data= "https://emersonjleon.github.io/emersonjleon/olimpiadaIA/presentacionIA.pdf"
            width="400"
            height="300">
    </object>
</p>




</div>
</div>

<script src="https://emersonjleon.github.io/emersonjleon/olimpiadaIA/logo.js"></script>

     
{% endblock %}
