<!doctype html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <div class="w3-container center">
    <head>
      <title>Matemática Discreta: Teoría de Juegos y Grafos</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='icos.png') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    </head>
    <body>
    
      <div class=curso>
      
      <h3 style="color: #004499;"> Matemática Discreta: Teoría de Juegos y Grafos</h3>
        
      <img src="/static/uan/logo.png" style="width: 20%"/>
      
      <h5 style="color: #003355;"> <a class="headlink" href="/math">Emerson León</a></h5>
      
      <div>
	
	<div class="w3-col l10" style="text-align: left">
	  
	  <div>
        <h4>Descripción</h4>
        <p>
            La matemática discreta: Teoría de Juegos y Grafos, con énfasis en la resolución de problemas. 
        </p>

	    <h4>Objetivo</h4>
        <p>
            Que el estudiante conozca y profundice en el conocimiento de  estos tópicos de las matemáticas como una actividad dinámica y moderna, de forma tal que pueda incorporarla en la matemática escolar,  desarrollando habilidades matemáticas teóricas y de resolución de problemas, y que les permita aplicar estos conocimientos en situaciones reales.
        </p>
	    
	    <h4>Horario</h4>
	    
	    Sábados 11:30am a 1:30pm
	    &nbsp; &nbsp; &nbsp; &nbsp;<strong>Lugar</strong>&nbsp; Salón 506B (UAN sede Federman) 
	    &nbsp; &nbsp; &nbsp; &nbsp;<strong>Meet</strong> &nbsp; &nbsp; uqo-xgqy-yys
	    
	  </div>
	
	<div class="w3-row">
	  
	  <div class="w3-col m8 s12" style="text-align: left; margin-right: 10px">
	    
	    <h4>Programación 2026</h4>
	    <ul>
	      <li><strong>7 de febrero:</strong> Introducción, juegos y grafos. 
		<ul>
		  <li> colab: El camino mas largo	<a href="https://colab.research.google.com/drive/1pDuCYC6E59_8yyazokpXMvpcvJToJCnB?usp=sharing">link</a>
		  </li>
		</ul>
	      </li>
	      <li><strong>14 de febrero:</strong> Estrategias ganadoras en juegos de suma cero</li> <!-- Bloqueo y Rey viajero. -->
	      <li><strong>21 de febrero:</strong> Juegos de información completa y suma no cero: El dilema del prisionero.</li>
	      <li><strong>28 de febrero:</strong> Conceptos elementales de teoría de grafos.</li>
	      <li><strong>7 de marzo:</strong> Grafos planos y problemas de coloración.</li>
	      <li><strong>14 de marzo:</strong> Exposición estudiantil 1<!-- : Problemas de transporte, conexión y fiestas. --></li>
	      <li><strong>21 de marzo:</strong> Exposición estudiantil 2  - Primer Examen<!-- : El problema del camino más corto (algoritmo de Dijkstra). --></li>
	      <li><strong>28 de marzo:</strong> Exposición estudiantil 3<!-- : Árboles de expansión mínima (algoritmo de Kruskal) --></li>
	      <li><strong>4 de abril:</strong> Exposición estudiantil 4<!-- : Coloración de grafos y el teorema de los cuatro colores. --></li>
	      <li><strong>11 de abril:</strong>Exposición estudiantil 5 - <!-- : Grafos bipartitos y aplicaciones. --></li>
	      <li><strong>18 de abril:</strong> Exposición estudiantil 6<!-- : El problema del viajante (TSP) y heurísticas simples. --></li>
	      <li><strong>25 de abril:</strong> </li>
	      <li><strong>2 de mayo:</strong> <!-- Fórmula de Euler para grafos planos. --></li>
	      <li><strong>9 de mayo:</strong> <!-- Aplicaciones de la teoría de grafos. --></li>
	      <li><strong>16 de mayo:</strong> Examen final</li>
	      <li><strong>23 de mayo:</strong>  </li>
	      <li><strong>30 de mayo:</strong> Discusión final y cierre del curso.</li>
	    </ul>

	  </div>
	  
	  <div class="w3-col m4 s12 ">
	    <div style="text-align: left; margin-left: 20px">
	      <h5>Notas</h5>
	      <ul>
		<li> Primer Examen (10%) 
		<li> Tareas (20%)
		<li> Exposición (20%)
		<li> Trabajo Final (20%)
		<li> Examen Final (30%)
	      </ul>
	    </div>
	  </div>
	</div>
	
	<div class="w3-col l6 m8 s12" style="align: center" id="logoh">
	  <img src="/static/uan/logoh.png" style="width: 100%"/>
	</div>
	
    </body>
    
    <div id="canvas"></div>
    
  </div>
</div>

<style>
    #canvas {
	background-color: #000;
	width: 400px;
	height: 330px;
	border: 1px solid black;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/threejs/r76/three.min.js"></script>
		
<script>
  container = document.getElementById( 'canvas' );
  document.body.appendChild( container );

  renderer = new THREE.WebGLRenderer();
  var w = 400;
  var h = 330;
  renderer.setSize(w, h);
  container.appendChild( renderer.domElement );

  var scene = new THREE.Scene();
  
  var VIEW_ANGLE = 45,
  ASPECT = w / h,
  NEAR = 0.1,
  FAR = 10000;
  
  var camera = new THREE.PerspectiveCamera(VIEW_ANGLE, ASPECT, NEAR, FAR);
  camera.position.z = 250;

  var lambertmaterial = new THREE.MeshLambertMaterial({ color: 0x555555 });
  var material = new THREE.MeshLambertMaterial( { color: 0x7f7f7f } );
  
  // add sphere
  var radius = 30,
      segments = 24,
      rings = 16;
  var phi=1.618;

  var sphere0 = new THREE.Mesh(new THREE.SphereGeometry(16, segments, rings), material);
  scene.add(sphere0);

  var icospheres = new THREE.Object3D();
  var sphereGeometry = new THREE.SphereGeometry( radius, segments, rings );
   
  var sphereMaterial = new THREE.MeshLambertMaterial( { color: 0x7fd4ff} );
  var sphere0 = new THREE.Mesh( sphereGeometry, sphereMaterial );
  sphere0.position.x=0*radius ;
  sphere0.position.y= 1*radius ;
  sphere0.position.z= 1.5*radius ;
  icospheres.add( sphere0 );

  var sphereMaterial = new THREE.MeshLambertMaterial( { color: 0x7f2aff} );
  var sphere1 = new THREE.Mesh( sphereGeometry, sphereMaterial );
  sphere1.position.x=0*radius ;
  sphere1.position.y= -1*radius ;
  sphere1.position.z= 1.5*radius ;
  icospheres.add( sphere1 );

  var sphereMaterial = new THREE.MeshLambertMaterial( { color: 0x7fd400} );
  var sphere2 = new THREE.Mesh( sphereGeometry, sphereMaterial );
  sphere2.position.x=0*radius ;
  sphere2.position.y= 1*radius ;
  sphere2.position.z= -1.5*radius ;
  icospheres.add( sphere2 );

  var sphereMaterial = new THREE.MeshLambertMaterial( { color: 0x7f2a00} );
  var sphere3 = new THREE.Mesh( sphereGeometry, sphereMaterial );
  sphere3.position.x=0*radius ;
  sphere3.position.y= -1*radius ;
  sphere3.position.z= -1.5*radius ;
  icospheres.add( sphere3 );

  var sphereMaterial = new THREE.MeshLambertMaterial( { color: 0xd4ff7f} );
  var sphere4 = new THREE.Mesh( sphereGeometry, sphereMaterial );
  sphere4.position.x=1*radius ;
  sphere4.position.y= 1.5*radius ;
  sphere4.position.z= 0*radius ;
  icospheres.add( sphere4 );

  var sphereMaterial = new THREE.MeshLambertMaterial( { color: 0x2aff7f} );
  var sphere5 = new THREE.Mesh( sphereGeometry, sphereMaterial );
  sphere5.position.x=-1*radius ;
  sphere5.position.y= 1.5*radius ;
  sphere5.position.z= 0*radius ;
  icospheres.add( sphere5 );

  var sphereMaterial = new THREE.MeshLambertMaterial( { color: 0xd4007f} );
  var sphere6 = new THREE.Mesh( sphereGeometry, sphereMaterial );
  sphere6.position.x=1*radius ;
  sphere6.position.y= -1.5*radius ;
  sphere6.position.z= 0*radius ;
  icospheres.add( sphere6 );

  var sphereMaterial = new THREE.MeshLambertMaterial( { color: 0x2a007f} );
  var sphere7 = new THREE.Mesh( sphereGeometry, sphereMaterial );
  sphere7.position.x=-1*radius ;
  sphere7.position.y= -1.5*radius ;
  sphere7.position.z= 0*radius ;
  icospheres.add( sphere7 );

  var sphereMaterial = new THREE.MeshLambertMaterial( { color: 0xff7fd4} );
  var sphere8 = new THREE.Mesh( sphereGeometry, sphereMaterial );
  sphere8.position.x=1.5*radius ;
  sphere8.position.y= 0*radius ;
  sphere8.position.z= 1*radius ;
  icospheres.add( sphere8 );

  var sphereMaterial = new THREE.MeshLambertMaterial( { color: 0x7fd4} );
  var sphere9 = new THREE.Mesh( sphereGeometry, sphereMaterial );
  sphere9.position.x=-1.5*radius ;
  sphere9.position.y= 0*radius ;
  sphere9.position.z= 1*radius ;
  icospheres.add( sphere9 );

  var sphereMaterial = new THREE.MeshLambertMaterial( { color: 0xff7f2a} );
  var sphere10 = new THREE.Mesh( sphereGeometry, sphereMaterial );
  sphere10.position.x=1.5*radius ;
  sphere10.position.y= 0*radius ;
  sphere10.position.z= -1*radius ;
  icospheres.add( sphere10 );

  var sphereMaterial = new THREE.MeshLambertMaterial( { color: 0x7f2a} );
  var sphere11 = new THREE.Mesh( sphereGeometry, sphereMaterial );
  sphere11.position.x=-1.5*radius ;
  sphere11.position.y= 0*radius ;
  sphere11.position.z= -1*radius ;
  icospheres.add( sphere11 );

  scene.add(icospheres);
      
  // LIGHTS
  var pointLight = new THREE.PointLight(0x999999);
  pointLight.position.x = 10;
  pointLight.position.y = 50;
  pointLight.position.z = 130;
  scene.add(pointLight);
  
  var pointLight2 = new THREE.PointLight(0x888888);
  pointLight2.position.x = -50;
  pointLight2.position.y = -50;
  pointLight2.position.z = 130;
  scene.add(pointLight2);

  // Animation control
  let isAnimating = true;

  var render = function () {
    if (isAnimating) {
        icospheres.rotation.x += 0.004;
        icospheres.rotation.y += 0.004;
        renderer.render(scene, camera);
    }
    requestAnimationFrame(render);
  };

  function toggleAnimation() {
    isAnimating = !isAnimating;
  }
  
  setTimeout(toggleAnimation, 700);
  
  document.getElementById("canvas").addEventListener("click", function () {
    isAnimating = !isAnimating;
  });

  render();
</script>

</div>
</html>
