<!doctype html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <head>
      <title>Temas Escogidos de las Matemáticas Contemporáneas</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='icos.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  </head>
  <body>
     <div class="w3-container center"> 
     <!--a href="/index"> <img src="{{ url_for('static', filename='cyborgshaman.jpg') }}" width="150" height="150" cursor="default"   /> </a-->
     <h3 style="color: #004499;">Temas Escogidos de las Matemáticas Contemporáneas</h3>

     
       <img src="{{ url_for('static', filename='uan/logo.png') }}" style="width: 20%"/>
    
     
     <h4 style="color: #003355;">Emerson León</h4>


     <div> 
       <!-- <a href="/index">Index</a> -->
       <a class="headlink" href="{{ url_for('temas2024page') }}">Inicio</a>
       <a class="headlink" href="{{ url_for('materialtemas2024page') }}">Material Adicional</a>
       <a class="headlink" href="/math">Emerson</a>
       <!--   <a href="https://elcyborgchaman.pythonanywhere.com"> -->
	 <!-- Cyborg</a > -->

       
     </div>
     
     <div>
       {% block content %}{% endblock %}
     </div>
  



</html>
