<!doctype html>
{% extends "base.html" %}


{% block content %}

<div class=story>
  about me...
  <ul>
    <li> Human being, part of nature, part of universe
    <li> Peace maker, Love believer, Life holder
    <li> Mathematician, geometer, problem solver, teacher
    <li> Interests in music, yoga, computers, languages, nature, people
    <li> Dreamer, creative, deep imagination
  </ul>
  <p>You can contact me at: 
    emersonleon at gmail . com
  </p>
  <p>Visit my new page to create stories with artificial intelligence at
    <a href="https://elcyborgchaman.pythonanywhere.com">
      https://elcyborgchaman.pythonanywhere.com</a ><br>
  </p>
</div>



{% endblock %}
