<!doctype html>
{% extends "base.html" %}


{% block content %}

<div>
  <div class=story>
  <div class=center>
    <div id="logo"></div>
  </div>


  <h4 >Olimpiadas de Inteligencia artificial</h4>
  <p>
Actualmente estoy trabajando el la Universidad Antonio Nariño como organizador de la Olimpiada Colombiana en Inteligencia Artificial. En Agosto de 2024 participamos en la <a href="https://ioai-official.org/" target="_blank">IOAI</a> que se realizó en Burgas, Bulgaria. En ella el equipo colombiano obtuvo cuatro medallas de bronce en ronda científica y cuatro medallas de bronce en la ronda práctica. Los resultados pueden verse  <a href="https://ioai-official.org/results">aquí</a>.
  </p>
  

<img src="{{url_for('static', filename='/uan/ioai/equipoioai2024.jpeg')}}" align="middle" style="width: 100%"/>

<img src="{{url_for('static', filename='/uan/ioai/Xpetro.jpeg')}}" align="middle" style="width: 100%"/>
		

<h4 >Ética en IA y educación</h4>
  <p> El 16 de julio de 2024 compartí una charla para el curso de profesores "Inteligencia Artificial para la educación (nivel I)"

    <a href="https://emersonjleon.github.io/emersonjleon/olimpiadaIA/PresentacionIA.pdf" target="_blank">Presentación</a></p>
  
  <p> En el segundo semestre estaré acompañando la segunda parte de este curso como tutor en  "Inteligencia Artificial en el Contexto Educativo (nivel 2)"</p>

        <object class="pdf" 
            data= "https://emersonjleon.github.io/emersonjleon/olimpiadaIA/presentacionIA.pdf"
            width="400"
            height="300">
    </object>
</p>




</div>
</div>

<script src="https://emersonjleon.github.io/emersonjleon/olimpiadaIA/logo.js"></script>

     
{% endblock %}
