<!doctype html>
{% extends "base.html" %}


{% block content %}

<div>
  <div class=story>
  <div class=center>
<div id="logo"></div>
</div>


<h4 >Olimpiadas de Inteligencia artificial</h4>
Actualmente estoy trabajando el la Universidad Antonio Nariño como organizador de la Olimpiada Colombiana en Inteligencia Artificial. En Agosto de 2024 participaremos en la <a href="https://ioai-official.org/" target="_blank">IOAI</a> que se realizará en Burgas, Bulgaria. 


<h4 >Ética en IA y educación</h4>
  <p> El 16 de julio de 2024 compartí una charla para el curso de profesores "Inteligencia Artificial para la educación (nivel I)"

    <a href="https://emersonjleon.github.io/emersonjleon/olimpiadaIA/PresentacionIA.pdf" target="_blank">Presentación</a>

        <object class="pdf" 
            data= "https://emersonjleon.github.io/emersonjleon/olimpiadaIA/presentacionIA.pdf"
            width="400"
            height="300">
    </object>
</p>




</div>
</div>

<script src="https://emersonjleon.github.io/emersonjleon/olimpiadaIA/logo.js"></script>

     
{% endblock %}
