<!doctype html>
{% extends "base.html" %}


{% block content %}
    <div class="w3-col l12" style="text-align: center">

      <div class=story >
	<p> Mathematician with interests in 
	<ul>
	  <li> Computer programming,  artificial intelligence
	  <li> Math education, problem solving, olympiad competitions
	  <li> Discrete geometry,  combinatorics, 3D Visualization
	 
	  
	  
	    
	</ul>
	</p>
	<p> Professor at Universidad Antonio Nariño, Bogotá. Organizer of the Colombian Olympiad of Artificial Intelligence. Ph.D. in Mathematics from Freie Universität Berlin. Postdoc at Universidad de los Andes, Bogotá. Bachelor's degree from Universidad Nacional de Colombia, Bogotá.
	</p>
	<p>
	  You can contact me at  emersonleon at gmail . com
	</p>

      </div>
      </div>


      

<div class="w3-row">
    <!-- <div class="w3-col l1 s0"> -->
    <!-- </div>   -->

    <div class="w3-col m7 s12" style="margin-right: 10px">


      <div class=story>

	<h4>Publications</h4>
	<ul>
	  <li> <a href="https://arxiv.org/abs/1804.00208" target="_blank"> Binomial Inequalities of Chromatic, Flow, and Ehrhart Polynomials</a>, with Matthias Beck, Discrete & Computational Geometry, 2021, 66, no. 2, p. 464–474, 2021 
	  <li>  <a href="https://arxiv.org/abs/1511.02904" target="_blank"> Spaces of convex n-partitions</a> , with Günter M. Ziegler, “New Trends in Intuitive Geometry” (G. Ambrus, I. Bárány, K. J. Böröczky, G. Fejes Tóth, J. Pach, eds.), Bolyai Society Mathematical Studies series, 27. Springer, Berlin Heidelberg. p. 279-306, 2018. </li>
	  <li>   <a href="https://arxiv.org/abs/2111.13745" target="_blank">Combinatorial Relationship Between Finite Fields and Fixed Points of Functions Going Up and Down</a>, with Julián Pulido, preprint<br>
	    (<a href="https://emersonjleon.github.io/emersonjleon/math/finitefields.pdf" target="_blank">slides</a>,  online visualization for <a href="../fixedpoints">fixed points</a>)
	    <h5>Thesis</h5>
	    
	  <li><a href="https://refubium.fu-berlin.de/handle/fub188/829" target="_blank">Spaces of convex n-partitions</a>, Ph.D. thesis, Freie Universität, Berlin, advised by Günter M. Ziegler, 2015 
	  <li> <a href="https://emersonjleon.github.io/emersonjleon/math/TG.pdf" target="_blank">Conteos en Arreglos de Hiperplanos, Números de Catalan y Funciones de Parqueo</a>, Bachelor thesis, Universidad Nacional de Colombia, advised by Federico Ardila and Humberto Sarria </li>
	  
	  <h5>Other</h5>
	  
	  <li>Tres Lecciones en Combinatoria Algebraica, I. Matrices totalmente no-negativas y funciones simétricas, with Federico Ardila, Mercedes Rosas, Mark Skandera, universo.math 1 (2014), No. 1. </li>
	  
	  <li>Tres Lecciones en Combinatoria Algebraica, II. Funciones simétricas y teoría de representaciones, with Federico Ardila, Mercedes Rosas, Mark Skandera, universo.math 1 (2014), No. 2. </li>
	  
	  <li>Tres Lecciones en Combinatoria Algebraica, III. Arreglos de hiperplanos, with Federico Ardila, Mercedes Rosas, Mark Skandera, universo.math 1 (2014), No. 3. </li>
	  
	  <!-- <li>Problemas y Soluciones de las Olimpiadas Colombianas de Matemáticas, with Mary Falk Losada, Oscar Bernal, Juan Manuel Hernandez, Ivan Contreras, 2003, 2004, 2005, 2006. </li> -->
	</ul>
      </div>
    </div>

    
    
    <div class="w3-col m4 s12 ">
      <div style="text-align: left; margin-left: 20px">
	<h4>Teaching</h4>
	<h5>Universidad Antonio Nariño</h5>
	2024-02 
	<ul>
	  <li> <a href="/uan/temas2024/temas"> Temas Escogidos de las Matemáticas Contemporaneas </a>
	  <li> Inteligencia Artificial en el Contexto Educativo (nivel 2) <a href="https://campusvirtualcursos.uan.edu.co/docentesyadmon/login/index.php"> (cursos virtuales)</a>
	    
	</ul>

	<h5>Uniandes</h5>

	2017-01 
	<ul>
	  <li>Álgebra Lineal
	  <li> <a href="https://emersonjleon.github.io/emersonjleon/uniandes/seminar/seminar2.html"> Seminario II: Teoría de Ehrhart  </a>
	    
	</ul>
	2016-02 
	
	<ul>
	  <li> <a href="https://emersonjleon.github.io/emersonjleon/uniandes/seminar/seminar.html">Seminario I: Teoría de Ehrhart </a>
	  <li>Geometría discreta
	  <li>  Cálculo vectorial 
	    
	</ul>
	
	2016-01 
	
	<ul>
	  <li>Cálculo Integral 
	</ul>
	
	2015-02 
	
	<ul>
	  <li>Álgebra lineal 
	  <li>Cálculo diferencial 
	</ul>
	<p>
	  <a href="/chipfiring/5000chips-ballsize50--cubematrix25">Chip Firing visualizations</a>
	  
	</p>
  
      </div>



      
    </div>
</div>


{% endblock %}
