<!doctype html>
{% extends "base.html" %}


{% block content %}

<div>
<div class=story>


Computer Visualizations using three.js


<h4 id="splines">Splines</h4>
<p>Using a homemade python tool and using three.js, I am exploring polynomial parameterizations of surfaces, splines and more.  Thanks to <a href="https://sites.google.com/site/nvillami/" target="_blank">Nelly Villamizar</a> for interesting conversations and to Gabriela Sofía León for her three.js room.</p>

<ul>
  <li><a href="https://emersonjleon.github.io/emersonjleon/threejs/bspline6c.html" target="_blank">box spline</a></li>
  <li><a href="https://emersonjleon.github.io/emersonjleon/threejs/cobra.html" target="_blank">cobra</a></li>
  <li><a href="https://emersonjleon.github.io/emersonjleon/threejs/redwaves.html" target="_blank">waves</a></li>
  <li><a href="https://emersonjleon.github.io/emersonjleon/threejs/spikes.html" target="_blank">spikes</a></li>
</ul>

<h4 id="chip-firing">Chip-firing:</h4>
<p>The simple dynamics of chip-firing allow us to create amazing patterns from computational experiments. Thanks to <a href="https://www.dam.brown.edu/people/cklivans/chipfiring.html" target="_blank">Caroline Klivans</a> for presenting these topics to me.</p>

<ul>
  <!-- <li><a href="/emersonjleon/firstchipfiring.html">my first computation</a></li> -->
  <li><a href="https://emersonjleon.pythonanywhere.com/chipfiring/5000chips-ballsize50--cubematrix25" target="_blank">3d Chip-firing visualization</a></li>
  <li><a href="https://www.math.cmu.edu/~wes/sand.html" target="_blank">Link to 2d visualizations</a></li>

</ul>



<h4 id="chip-firing">El Cyborg Chamán</h4>
Espacios creados para la exposición: El Cyborg Chamán, realizada en Octubre 1 de 2022
<ul>
  <li><a href="https://emersonjleon.github.io/emersonjleon/threejs/biblioteca.html" target="_blank">Biblioteca Francisco José de Caldas, Suba</a></li>
  <li><a href="https://emersonjleon.github.io/emersonjleon/threejs/expoRoom.html" target="_blank">Projection room</a></li>
</ul>

<h4 id="chip-firing">Icosahedral spheres</h4>

</div>
</div>


     
{% endblock %}
