<!doctype html>
{% extends "basetemas.html" %}


{% block content %}
<div class="w3-col l10" style="text-align: left">
  
  <div>
    <h4>Objetivo</h4>
    Avanzar en el conocimiento global de las matemáticas como una actividad dinámica y moderna, que interactúa con muchas de nuestras actividades cotidianas y expande el entendimiento humano, buscando comprender cada vez mejor el mundo que nos rodea. 
    
    
    <h4>Horario</h4>
    Sábados 11am a 1pm
     &nbsp; &nbsp; &nbsp; &nbsp;<strong>Lugar</strong>&nbsp; Salón 503 (Bloque E, UAN nf) 
     &nbsp; &nbsp; &nbsp; &nbsp;<strong>Meet</strong> &nbsp; &nbsp; urp-mhdb-why
    
  </div>
</div>


    
    

    
<div class="w3-row">
  <!-- <div class="w3-col l1 s0"> -->
    <!-- </div>   -->
  
  <div class="w3-col m9 s12" style="text-align: left; margin-right: 10px">
    
    
    
    <h4>Programación</h4>
    <ul>
      <li><strong>3 de agosto:</strong> Matemáticas en la IA</li>
      <li><strong>10 de agosto:</strong> (ioai)</li>
      <li><strong>17 de agosto:</strong> Conociéndonos un poco</li>
      <li><strong>24 de agosto:</strong> Grafos: 4 colores y la conjetura de Hirsh</li>
      <li><strong>31 de agosto:</strong> Algoritmo knn y f-vectores de poliedros</li>
      <li><strong>7 de septiembre:</strong> Probabilidad y estadistica</li>
      <li><strong>14 de septiembre:</strong></li>
      <li><strong>21 de septiembre:</strong></li>
      <li><strong>28 de septiembre:</strong> Exposiciones</li>
      <li><strong>5 de octubre:</strong></li>
      <li><strong>12 de octubre:</strong> Entrega de Anteproyecto</li>
      <li><strong>19 de octubre:</strong></li>
      <li><strong>26 de octubre:</strong> Exposiciones </li>
      <li><strong>2 de noviembre:</strong></li>
      <li><strong>9 de noviembre:</strong> Quiz</li>
      <li><strong>16 de noviembre:</strong></li>
      <li><strong>23 de noviembre:</strong> Entrega final del proyecto</li>
    </ul>
  </div>
  
  
  
  <div class="w3-col m4 s12 ">
    <div style="text-align: left; margin-left: 20px">
      <h5>Notas</h5>
      <ul>
	<li> Dos exposiciones (30%) 
	<li> Anteproyecto (30%)
	<li> Quiz (10%)
	<li> Presentación final (30%)
	  
      </ul>
      
    </div>
    
    
    
    
  </div>
</div>


{% endblock %}
