<!doctype html>
{% extends "basetemas.html" %}


{% block content %}
<div class="w3-col l10" style="text-align: left">
  
  <div>
    <!-- <h4>Objetivo</h4> -->
    <!-- Avanzar en el conocimiento global de las matemáticas como una actividad dinámica y moderna, que interactúa con muchas de nuestras actividades cotidianas y expande el entendimiento humano, buscando comprender cada vez mejor el mundo que nos rodea.  -->
    
    
    <!-- <h5>Horario</h5> -->
    <!-- Sábados 11am a 1pm -->
    
  </div>
</div>


    
    

    
<div class="w3-row">
  <!-- <div class="w3-col l1 s0"> -->
    <!-- </div>   -->
  
  <div class="w3-col m9 s12" style="text-align: left; margin-right: 10px">
    
    
    

    <ul>
      <li><strong>24 de agosto:</strong> 
	<ul>
	  <li> Colab grafos: <a href="https://colab.research.google.com/drive/1a90fIRwvvx92z-_GaIoPpMmO8hBPFoFy?usp=sharing">link</a>

	  </li>  
	  <li>
	    Video de Francisco Santos: <a href="https://www.youtube.com/watch?v=i_IhaMwULsE">link</a>

	  </li>  
	</ul>

      </li>
      <li><strong>31 de agosto:</strong> 
	<ul>
	  <li>
	    Notas grafos KNN (Alexandra): <a href="{{url_for('static', filename='/uan/temas2024/GRAFO DE K VECINOS  MÁS CERCANOS_SUAREZ ESCOBAR ALEXANDRA.pdf')}}">link</a>

	  </li>  
	  <li>
	    Video g-conjecture: <a href="https://www.youtube.com/watch?v=4445Mbw8pYg">link</a>
	    
	  </li>  
	  <li>
	    Video Juneh Huh: <a href="https://www.youtube.com/watch?v=ritFtfoRYmY">link</a>
	  </li>  
	  
	</ul>
      </li>

      <!-- <li><strong>7 de septiembre:</strong> </li> -->
      <!-- <li><strong>14 de septiembre:</strong></li> -->
      <!-- <li><strong>21 de septiembre:</strong></li> -->
      <!-- <li><strong>28 de septiembre:</strong></li> -->
      <!-- <li><strong>5 de octubre:</strong></li> -->
      <!-- <li><strong>12 de octubre:</strong> </li> -->
      <!-- <li><strong>19 de octubre:</strong></li> -->
      <!-- <li><strong>26 de octubre:</strong>  </li> -->
      <!-- <li><strong>2 de noviembre:</strong></li> -->
      <!-- <li><strong>9 de noviembre:</strong> </li> -->
      <!-- <li><strong>16 de noviembre:</strong></li> -->
      <!-- <li><strong>23 de noviembre:</strong> </li> -->
    </ul>
  </div>
  
  
  
    
    
    
  </div>
</div>


{% endblock %}
