
<!doctype html>
<!doctype html>
<html>
  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Semillero: Olimpiada Colombiana de Inteligencia Artificial</title>
    <link     rel="shortcut icon"      href="https://emersonjleon.github.io/emersonjleon/olimpiadaIA/logoIA.png"  />
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='logoIA.png') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  </head>

  
  <body>
    <div class="w3-container center">  
      <div class=curso>
      
      <!--a href="/index"> <img src="/static/cyborgshaman.jpg" width="150" height="150" cursor="default"   /> </a-->
     
      
      
      <img src="/static/uan/logoh.png" style="width: 50%"/>
      <img src="{{ url_for('static', filename='uan/logoiablack.png') }}" style="width: 20%"/>

      <h3 style="color: #004499;">Semillero 2024</h3>
      
      <h4 style="color: #004499;">Olimpiada Colombiana de Inteligencia Artificial</h4>
      
      
      <h5 style="color: #003355;">     <a class="headlink" href="/uan/olimpiadaIA">Emerson León</a></h5>
      
      

      
      <div>
	
	<div class="w3-col l10" style="text-align: left">
	  
	  <div>
	    <h4>Objetivo</h4>
	    Estudiaremos las bases de los algoritmos principales detrás de las IA, y trabajaremos en diferentes retos y problemas para profundizar más en estos temas. Todas las actividades serán de forma virtual. Además queremos formar una comunidad de entusiastas de las nuevas tecnologías, y trabajar constantemente para sobresalir en diferentes competencias y poder aplicar nuestros conocimientos a problemas del mundo real.
	    
	    <h4>Horario</h4>
	    Martes 5:00pm a 6:30pm
	    &nbsp; &nbsp; &nbsp; &nbsp;<strong>Lugar</strong>&nbsp; Zoom
	    &nbsp; &nbsp; &nbsp; &nbsp;<strong>Link</strong> &nbsp; &nbsp; 
	    (revisar el correo electrónico de la inscripción. Si aún no te has inscrito puedes hacerlo   <a href="https://forms.gle/fqRkLV6JESk2ofox5" target="_blank">aquí</a>)

	    <h4>Grupo</h4>
	    También se creó este grupo de <strong>slack</strong> para que podamos formular y responder preguntas,  compartir ideas y mencionar cosas interesantes sobre el semillero:
<a href="https://join.slack.com/t/olimpiadascol-6lv3914/shared_invite/zt-2qtszpmok-vEKL9fMbA35HSvI2Nv~e3A"> link</a>

	  </div>
	
	
	<div class="w3-row">
	  	  
	  <div class="w3-col m8 s12" style="text-align: left; margin-right: 10px">
	    
	    
	    
	    <h4>Programación</h4>
	    <ul>
	      <li><strong>8 de octubre:</strong> Introducción, Python y Colab</li>
	      <ul>
		<li> Colab: Tutorial de Python en Colab <a href="https://colab.research.google.com/drive/1ZpnXjMJEvRhXCFw29MkuaVEPzbQDzl2q?usp=sharing">link</a></li>
		<li>   Colab: Nuestros primeros programas <a href="https://colab.research.google.com/drive/1vzjhe-7uBbBdgKvPfpRMdEiCKgUaCwZ9?usp=sharing">link</a> </li>
	      </ul>
	      <li><strong>15 de octubre:</strong> Objetos y Modulos. Pandas y Matplotlib
		<ul>
		  <li> Colab: Tutorial Objetos y Módulos  <a href="https://colab.research.google.com/drive/1sqS7PZxqXXExPnJPCln2_Dgpbe5WNt4v?usp=sharing">link</a></li>
		  <li>   Colab: Dibujando con Matplotlib e IA <a href="https://colab.research.google.com/drive/1PO_DqWiWWhfT1NNEPtlK1pyRNlT1djC7?usp=sharing">link</a> </li>
		  <li>  Colab: Imágenes contribuidas <a href="https://colab.research.google.com/drive/1DHSQ72lZ6eTi8h-ZUA5e-VVFdWn2dDbW?usp=sharing"> link</a> </li>		  <li>  Dirección para enviar el código de la actividad matplotlib <a href="https://emersonjleon.pythonanywhere.com/uan/codeinput"> link</a> </li>

		  
		</ul>
	      </li>
	      <li><strong>22 de octubre:</strong> Introducción al Machine Learning, Regresion Lineal
		<ul>
		  <li> Colab: Regresión Lineal <a href="https://colab.research.google.com">link</a></li>
		  <li>   Video: ¿Qué es el Machine Learning?¿Y Deep Learning? Un mapa conceptual | DotCSV  <a href="https://www.youtube.com/watch?v=KytW151dpqU">link</a> </li>
		</ul>
	      </li>
	      <li><strong>29 de octubre:</strong> Underfitting y Overfitting. Ingeniería de atributos.
		<!-- <ul> -->
		<!--   <li> Colab grafos: <a href="https://colab.research.google.com/drive/1a90fIRwvvx92z-_GaIoPpMmO8hBPFoFy?usp=sharing">link</a> -->
		    
		<!--   </li>   -->
		<!--   <li> -->
		<!--     Video de Francisco Santos: <a href="https://www.youtube.com/watch?v=i_IhaMwULsE">link</a> -->
		    
		<!--   </li>   -->
		<!-- </ul> -->
		
	      </li>
	      <li><strong>5 de noviembre:</strong> Árboles de Decisión y Ensambles de Modelos
	      </li>
	      <li><strong>12 de noviembre:</strong> Clustering y aprendizaje no supervisado

	      </li>
	      <li><strong>19 de noviembre:</strong>  Perceptron, Introducción a Redes Neuronales
	      </li>
	      <li><strong>26 de noviembre:</strong>Redes neuronales multicapa </li>
	   
	      <li><strong>3 de diciembre:</strong> Fin del curso!</li>
	    </ul>

	  </div>
	  

	  
	  <div class="w3-col m4 s12 ">
	    <div style="text-align: left; margin-left: 20px">
	      <h5>Links</h5>
	      <ul>
		<li>  <a href="https://www.kaggle.com/">https://www.kaggle.com/</a>
		<li>  <a href="https://serrano.academy/espanol/">https://serrano.academy/espanol/</a>
		<li> <a href="http://oc.uan.edu.co/">Olimpiadas Colombianas</a> 
	      </ul>
	      
	    </div>
	  </div>

	  
	</div>
	
	<!-- <div  class="w3-col l6 m8 s12" style="align: center" id="logoh"> -->
	  
	<!--   <img src="/static/uan/logoh.png" style="width: 100%"/> -->
	<!-- </div> -->

	
	
	
	
	
    </body>
    </div>
    
    <!-- logo semillero IA -->
	<div class=center>
	  <div id="logo"></div>
	</div>
    
    

  </div>
</div>




      
<script src="https://emersonjleon.github.io/emersonjleon/olimpiadaIA/logo.js"></script>
    

		

  

     </div>
  



</html>
